{% extends "base.html" %}

{% block content %}
    <h1>List of all users</h1>
    <div class="container">
    <table>
    <div class="content-section2">
    <div class="center">
        <thead>
        <th> Name </th>
        <th> About me </th>
        <th> Last seen </th>
        </thead>
        {% for artist in artists %}
            <tr>
                <td>
                    <a style="color: #2a2b28;" href={{ url_for('user_details', username=artist.username) }} >
                        {{ artist.username }}
                    </a>
                </td>
                <td> {{ artist.aboutMe }} </td>
                <td> {{ artist.last_seen }} </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    </div>
    </div>
{% endblock %}
