{% extends "base.html" %}

{% block content %}
{#    <div class="container center">#}
{#    <div class="row border">#}
    <div class="col-md-6 center">
    <div class="container p-2">
    <h1>Add event</h1>
    <div class="content-section3 container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.eventname.label }}<br>
            {{ form.eventname(size=32) }}<br>
            {% for error in form.eventname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location(cols=50, rows=4) }}<br>
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.date.label }}<br>
            {{ form.date(size=32) }}<br>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(size=32) }}<br>
            {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(cols=50, rows=4) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
    </div>
    </div>
{% endblock %}