{% extends "base.html" %}



{% block content %}
     <h1>List of all groups</h1>
    <div class="container border">
    <table class="table table-striped">
    <div class="content-section2">
    <div class="center">
        <thead style="color: #fcfcfc;">
        <th> Name </th>
        <th> Description </th>
        <th> Join </th>
        </thead>
        {% for group in groups %}
            <tr>
                <td>
                    <a style="color: #2a2b28;" href={{ url_for('group_details', groupname=group.groupName)}} >
                        {{ group.groupName }}
                    </a>
                </td> {# this should be a link to a group details page #}
                <td> {{ group.groupDescription }} </td>
                <td>
                    {% if user.is_in(group) %}
                    <p>You are a member</p>
                    {% else %}
                    <a style="color:black;" href="{{ url_for('join_group', group=group.groupName) }}">
                        <p> Join group</p>
                    </a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
    </table>
    <a style="color:black;" href="{{ url_for('new_group') }}"><button>+ Add group</button></a>
    </div>
    </div>
    </div>
{% endblock %}
